@charset "utf-8";
/* CSS Document */
.header {
	background-image: url(../images/top_header.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.img_top {
	top: 148px;
	height: 280px;	
}
.h1 {
	color: #FFF;
	font-size: 0.8em;
}
.news_box {
	background-image: url(../images/news_box.jpg);
	background-position: left top;
	height: 250px;
	width: 650px;
	color: #FFF;
	position: relative;	
}
.news_box_in {
	height: 210px;
	width: 628px;
	color: #FFF;
	position: absolute;
	top: 20px;
	left: 20px;
	overflow: auto;	
}
.day {
	vertical-align: top;	
}