@charset "utf-8";
/* CSS Document */
.header {
	background-image: url(../common/images/sub_header.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.img_top {
	top: 148px;
	height: 150px;
}
.h1 {
	color: #FFF;
	font-size: 0.8em;
}
.h2_midashi {
	padding-bottom: 3px;
}
.sub_contents {
	width: 650px;
	background-color: #EBEBEB;
	border: 1px solid #8B7941;
}
.table {
	width: 595px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
.table tr td {
	padding-top: 3px;
	padding-bottom: 3px;	
}
.td_midashi {
	width: 150px;
	background-color: #191411;
	padding-left: 20px;
	color: #FFF;
}
.td_naiyou {
	background-color: #FFF;
}
.table_img {
	width: 620px;
	margin-left: auto;
	margin-right: auto;
}
.table_img tr {
	padding-top: 10px;
}
.big_red {
	color: #C00;
	font-size: 1.2em;
	font-weight: bold;
}
.soushin {
	padding-left: 25px;
	padding-top: 10px;
}